{% extends 'blog/base.html' %}
{% load static %}

<title >
    {% block title %}
    benoitfesquet.website
    {% endblock %}
</title >

{% block document %}
<div class="bg-white">
  <nav class="container flex  ">
    <a class="mr-auto align-self-bottom" href="{% url 'home' %}">
      <img src="{% static 'blog/img/terminal.svg' %}">
    </a>
    <a class="ml-auto" href="https://github.com/Arico1985" target="_blank">
      <img src="{% static 'blog/img/github.svg' %}">
    </a>
  </nav>
</div>
<header class="text-center">
  <h1 class="description">Hi I'm Ben & I make things</h1>
</header>

{% endblock document %}
